.container {
  max-width: 55.5rem;
  width: 100%;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

header {
  span.category {
    display: block;
    margin-top: 2rem;

    font-size: 1.25rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }
}

main {
  width: 100%;
  margin-top: 5.625rem;

  .movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {

  header {
    span.category {
      font-size: 2.25rem;
    }
  }
}